
.logo {
	vertical-align: middle;
	padding-bottom: 5px;
}


body {
	font-family: "kepler-std", Georgia, Times, serif;
	font-size: 1.20em;
	font-weight: 300;
  background: #fff;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "kepler-std", Georgia, Times, serif;
  color: #444;
}

h1 {
	margin-top: 25px;
	text-align: center;
font-size: 36px;
line-height: 36px;	
}

strong {
	color: #444;
	font-family: "kepler-std", Georgia, Times, serif !important;
	font-weight: bold;
}

section .pagetitle {
	margin: 50px 0 20px 0;
}
section .pagetitle h1 {
	font-family: "kepler-std", Georgia, Times, serif;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  line-height: 36px;
}

section .pagetitle p {
	color: #777;
	font-family: "kepler-std", Georgia, Times, serif;
	font-weight: 300;
	font-size: 16px;
}

.first-p {
	text-indent:25px;
}
p
{
/*text-indent:25px;*/
line-height: 1.8em;
font-weight: 300;
}

ul {
	/*list-style: none;*/
  list-style-image: none;
}

#header nav li:before {
	content: none;
}
ul li:before {
	list-style-type: disc;
/*	content: "»";
	padding-right: 5px;
	margin-left: -20px;*/
}

a {
	color: #bc223f;
}
/*a:hover {
  color: #1398FF;
}
*/
a:hover {
	color: #bc223f;
  background: rgba(188,34,63, 0.13);
}
a.no-highlight {
	color: #bc223f;
  background: none;
}


.share-page {
    text-align: center;
    background: #C01B39;
    color: #efefef;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 48px 0;
}

.share-page a {
	font-size: 125%;
    font-weight: 700;
    color: #fff;
    margin-left: 10px;

}
