<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <!-- <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css"> -->
    <!-- <link rel="stylesheet" href="/css/pure-side-menu.css"> -->
    <link rel="stylesheet" href="/css/e27352dfd7fe97b5467097fce5e4497d-navigation.min.css">
    <link rel="stylesheet" href="/css/9dc8bde28a8bbe6d5da9802e40db3d0d-pure-custom.min.css">
    <link rel="stylesheet" href="/css/302dd2ba03c44a9e7033a1ef88fe6208-pure-custom2.min.css">
    <!-- <link rel="stylesheet" href="/css/pure-custom2.css"> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="/stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
          <li class="fork"><a href="/" class='no-highlight'><img class="logo" style='margin-top: 5px;' src="/sketchboard.io/img/logo-no-gradient.png" height="60"></a></li>
					<li class="title"><a href="mailto:support@sketchboard.io">SUBMIT REQUEST</a></li>
          <li class="title"><a href="/">HOME</a></li>
        </nav>
      </div>

    <div class="wrapper">

      <section>
<!--         <div class="pagetitle">
          <h1>{{ page.title }}</h1>
          <p>blog.sketchboard.io</p>
        </div> -->

				{{ content }}

				<div class="footer">

          <nav>
            <li class="fork"><a href="http://twitter.com/#!/sketchboardio" target="_blank">@SketchboardIO</a></li>
          </nav>
				</div>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'sketchboard';
            
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

      </section>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-26995893-2");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>
